/node_modules/
/.next/
/.vinext/
/dist/
/.wrangler/
/coverage/
/work/
/workspaces/
/outputs/
/backups/
/github-upload/
/video_analysis_sunvisor/
/video_analysis_sunvisor2/

.env*
*.pem
*.tar.gz

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.DS_Store
.vercel
